In [9]:
import pandas as pd 
import numpy as np 
import json

In [10]:
with open("../results/result_1.json", "r", encoding="utf-8") as f:
    r1 = json.load(f)
with open("../results/result_2.json", "r", encoding="utf-8") as f:
    r2 = json.load(f)

In [11]:
results = r1 + r2
df = pd.DataFrame(results)
df.head()

   patient_id  global_idx        condition converged  correct  num_try
0    14029474           0          NON-EIG     False    False       10
1    14029474           0  NON-EIG-NO-DIST       N/A    False       10
2    14029474           0              EIG     False    False       10
3    17377989           1          NON-EIG     False    False       10
4    17377989           1  NON-EIG-NO-DIST       N/A    False       10

In [12]:
summary = (
    df.groupby("condition")
    .agg(avg_num_try=("num_try", "mean"), correct_rate=("correct", "mean")))

summary

                 avg_num_try  correct_rate
condition
EIG                      9.1           0.1
NON-EIG                  8.8           0.4
NON-EIG-NO-DIST          4.8           0.6